@import "tailwindcss";

/* Text presets */

@layer utilities {
  .text-preset-1 {
    font-size: 24px;
    line-height: 1.2;
    letter-radius: -0.5px;
    font-weight: 700;
  }
  .text-preset-2 {
    font-size: 20px;
    line-height: 1.2;
    letter-radius: -0.5px;
    font-weight: 700;
  }
  .text-preset-3 {
    font-size: 16px;
    line-height: 1.2;
    letter-radius: -0.3px;
    font-weight: 600;
  }
  .text-preset-4 {
    font-size: 14px;
    line-height: 1.2;
    letter-radius: -0.2px;
    font-weight: 500;
  }
  .text-preset-5 {
    font-size: 14px;
    line-height: 1.2;
    letter-radius: -0.2px;
    font-weight: 400;
  }
  .text-preset-6 {
    font-size: 12px;
    line-height: 1.2;
    letter-radius: -0.2px;
    font-weight: 400;
  }
}

@theme {
  --radius-0: 0px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
}

@layer utilities {
  .grid-desktop {
    @apply grid-cols-12 gap-6;
  }
  .grid-tablet {
    @apply grid-cols-8 gap-6;
  }
  .grid-mobile {
    @apply grid-cols-8 gap-4;
  }
}

.password-after::after {
  content: "";
}
