@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Text presets */

@layer utilities {
  .text-preset-1 {
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: -0.5px;
    font-weight: 700;
  }
  .text-preset-2 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.5px;
    font-weight: 700;
  }
  .text-preset-3 {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: -0.3px;
    font-weight: 600;
  }
  .text-preset-4 {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.2px;
    font-weight: 500;
  }
  .text-preset-5 {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: -0.2px;
    font-weight: 400;
  }
  .text-preset-6 {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: -0.2px;
    font-weight: 400;
  }
}

@theme {
  --spacing-0: 0px;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
}

@layer utilities {
  .grid-desktop {
    @apply grid-cols-12 gap-6;
  }
  .grid-tablet {
    @apply grid-cols-8 gap-6;
  }
  .grid-mobile {
    @apply grid-cols-8 gap-4;
  }
}
